<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ccw.target.e42" sequenceNumber="8">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.finder" version="2.1.0.201302221524"/>
<unit id="org.eclipse.swtbot.junit4_x" version="2.1.0.201302221524"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="2.2.0.201212191850-r"/>
<unit id="org.eclipse.jdt.feature.group" version="3.8.2.v20130116-090414-8-8nFu3FNOfwKLRuqgXKIy9z0I83"/>
<unit id="org.eclipse.platform.ide" version="4.2.2.M20130204-1200"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.0.v20121119-201001-7P7OG2BFLWUl7UnqBnO8V4Of"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.4.2.v201211061806-7O7MFu3EMkBK01NbrfU9ATE5cdZFz-OoeYjaI4d2"/>
<unit id="org.eclipse.egit.import.feature.group" version="2.2.0.201212191850-r"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="1.3.0.20130129-0926"/>
<unit id="org.eclipse.epp.mpc.feature.group" version="1.1.1.I20110907-0947"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.github.eclipsecolortheme.feature.feature.group" version="0.12.0.201207240713"/>
<repository location="http://eclipse-color-theme.github.io/update/"/>
</location>
</locations>
</target>
