[submodule "ccw.core/ccw-plugins/ccw-plugin-zoom"]
	path = ccw.core/ccw-plugins/ccw-plugin-zoom
	url = https://github.com/ccw-ide/ccw-plugin-zoom.git
[submodule "ccw.core/ccw-plugins/ccw-plugin-manager"]
	path = ccw.core/ccw-plugins/ccw-plugin-manager
	url = https://github.com/ccw-ide/ccw-plugin-manager.git
[submodule "ccw.core/ccw-plugins/ccw-plugin-hello-world"]
	path = ccw.core/ccw-plugins/ccw-plugin-hello-world
	url = https://github.com/ccw-ide/ccw-plugin-hello-world
[submodule "ccw.core/ccw-plugins/ccw-plugin-ansi-repl"]
	path = ccw.core/ccw-plugins/ccw-plugin-ansi-repl
	url = https://github.com/ccw-ide/ccw-plugin-ansi-repl.git
[submodule "ccw.core/ccw-plugins/ccw-plugin-hyperlink"]
	path = ccw.core/ccw-plugins/ccw-plugin-hyperlink
	url = https://github.com/ccw-ide/ccw-plugin-hyperlink.git
