<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="clojuredev.category.new"
            name="Clojure">
      </category>
      <wizard
            category="clojuredev.category.new"
            class="clojuredev.wizards.NewClojureProjectWizard"
            hasPages="true"
            icon="icons/clojure16x16.png"
            id="clojuredev.project.new.wizard"
            name="New Clojure Project"
            project="true">
      </wizard>
      <wizard
            category="clojuredev.category.new"
            class="clojuredev.wizards.NewClojureFileWizard"
            icon="icons/clojure16x16.png"
            id="clojuredev.newClojureFileWizard"
            name="Clojure File"
            project="false">
         <description>
            Create a Clojure file
         </description>
         <selection
               class="java.lang.Object">
         </selection>
      </wizard>
   </extension>
   <extension 
   	id="clojuredev.nature" 
   	name="Clojure Nature" 
   	point="org.eclipse.core.resources.natures"> 
      <runtime> 
         <run class="clojuredev.ClojureProjectNature"/> 
      </runtime> 
      <builder id="clojuredev.builder"/>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature> 
   </extension> 
   <extension 
   	id="clojuredev.builder" 
   	name="Clojure Builder" 
   	point="org.eclipse.core.resources.builders"> 
      <builder
            callOnEmptyDelta="false"
            hasNature="true"> 
         <run class="clojuredev.ClojureBuilder"/>
      </builder> 
   </extension> 
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="clojuredev.launching.ClojureLaunchDelegate"
            delegateName="Clojure Launcher"
            id="clojuredev.launching.clojure"
            modes="run, debug"
            name="Clojure"
            public="true">
         <fileExtension extension="clj" default="true"/>
      </launchConfigurationType>
   </extension>

   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
        type="clojuredev.launching.clojure"
        class="clojuredev.launching.ClojureTabGroup"
        id="clojuredev.launching.clojure.launchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="clojuredev.launching.ClojureLaunchShortcut"
            icon="icons/clojure16x16.png"
            id="clojuredev.launching.clojureShortcut"
            label="Clojure"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.clj">
                        </test>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="clojuredev.console.ClojureConsoleFactory"
            icon="icons/clojure16x16.png"
            label="Clojure REPL">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="clojuredev.editors.antlrbased.AntlrBasedClojureEditor"
            default="true"
            extensions="clj"
            contributorClass="clojuredev.editors.antlrbased.BasicClojureEditorActionContributor"
            icon="icons/clojure16x16.png"
            id="clojuredev.antlrbasededitor"
            name="Clojure Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="clojuredev.editors.rulesbased.ClojureDocumentProvider"
            extensions="clj"
            id="clojuredev.document.provider"
            inputTypes="org.eclipse.ui.part.FileEditorInput">
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="clojuredev.PreferenceInitializer">
      </initializer>
      <scope
            class="org.eclipse.core.runtime.preferences.DefaultScope"
            name="default">
      </scope>
   </extension>
   
<!-- =========================================================================== -->
<!-- CLOJUREDEV command definitions                                              -->
<!-- =========================================================================== -->

   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%context.editingClojureSource.name"
            description="%context.editingClojureSource.description"
            parentId="org.eclipse.ui.textEditorScope"
            id="clojuredev.ui.clojureEditorScope">
      </context>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
<!-- navigate -->
      <command
            name="%command.gotoMatchingBracket.name"
            description="%command.gotoMatchingBracket.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="clojuredev.ui.edit.text.clojure.goto.matching.bracket">
      </command>
      <command
            name="%command.gotoNextMember.name"
            description="%command.gotoNextMember.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="clojuredev.ui.edit.text.clojure.goto.next.member">
      </command>
      <command
            name="%command.gotoPreviousMember.name"
            description="%command.gotoPreviousMember.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="clojuredev.ui.edit.text.clojure.goto.previous.member">
      </command>
      <command
            name="%command.selectToplevelSExpression.name"
            description="%command.selectToplevelSExpression.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="clojuredev.ui.edit.text.clojure.select.toplevel.s.expression">
      </command>
      <command
            name="%command.evaluateToplevelSExpression.name"
            description="%command.evaluateToplevelSExpression.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="clojuredev.ui.edit.text.clojure.evaluate.toplevel.s.expression">
      </command>
      <command
            name="%command.evaluateRegion.name"
            description="%command.evaluateRegion.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="clojuredev.ui.edit.text.clojure.evaluate.region">
      </command>
      <command
            name="%command.clojureShortcut.run.name"
            description="%command.clojureShortcut.run.description"
            categoryId="org.eclipse.debug.ui.category.run"
            id="clojuredev.debug.ui.clojureShortcut.run">
      </command>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
<!-- navigate -->  
      <key
            sequence="M1+M2+P"
            contextId="clojuredev.ui.clojureEditorScope"
            commandId="clojuredev.ui.edit.text.clojure.goto.matching.bracket"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M3+P"
            contextId="clojuredev.ui.clojureEditorScope"
            commandId="clojuredev.ui.edit.text.clojure.goto.matching.bracket"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
<!--            sequence="M1+M2+ARROW_UP" -->
      <key
            sequence="M1+M3+A"
            contextId="clojuredev.ui.clojureEditorScope"
            commandId="clojuredev.ui.edit.text.clojure.goto.previous.member"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M2+A"
            contextId="clojuredev.ui.clojureEditorScope"
            commandId="clojuredev.ui.edit.text.clojure.goto.previous.member"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
<!--            sequence="M1+M2+ARROW_DOWN" -->
      <key
            sequence="M1+M3+E"
            contextId="clojuredev.ui.clojureEditorScope"
            commandId="clojuredev.ui.edit.text.clojure.goto.next.member"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M2+E"
            contextId="clojuredev.ui.clojureEditorScope"
            commandId="clojuredev.ui.edit.text.clojure.goto.next.member"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M3+H"
            contextId="clojuredev.ui.clojureEditorScope"
            commandId="clojuredev.ui.edit.text.clojure.select.toplevel.s.expression"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M3+X"
            contextId="clojuredev.ui.clojureEditorScope"
            commandId="clojuredev.ui.edit.text.clojure.evaluate.toplevel.s.expression"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+C M1+R"
            contextId="clojuredev.ui.clojureEditorScope"
            commandId="clojuredev.ui.edit.text.clojure.evaluate.region"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M2+M3+X C"
            commandId="clojuredev.debug.ui.clojureShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
	</extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="icons/clojure16x16.png"
               id="clojuredev.topmenu"
               label="Clojure-dev"
               mnemonic="C"
               tooltip="Clojure development assistance">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="clojuredev.antlrbasededitor_">
                  </equals>
               </with>
            </visibleWhen>
            <command
                  commandId="clojuredev.ui.edit.text.clojure.goto.matching.bracket">
            </command>
            <command
                  commandId="clojuredev.ui.edit.text.clojure.select.toplevel.s.expression"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="clojuredev.objectContribution.clojure.nature"
            objectClass="org.eclipse.core.resources.IContainer">
         <action
               class="clojuredev.actions.ToggleNatureAction"
               enablesFor="+"
               icon="icons/clojure16x16.png"
               id="clojuredev.action.toggleClojureNature"
               label="Enable/disable clojure language support"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="clojuredev.launching.clojure"
          icon="icons/clojure16x16.png"
          id="clojuredev.launchConfigurationTypeImage">
    </launchConfigurationTypeImage>
	</extension>
 <extension
       point="org.eclipse.ui.console.consolePageParticipants">
    <consolePageParticipant
          class="clojuredev.console.ConsolePageParticipant"
          id="clojuredev.consolePageParticipant.replConsole">
       <enablement>
          <instanceof
                value="org.eclipse.debug.internal.ui.views.console.ProcessConsole">
          </instanceof>
       </enablement>
    </consolePageParticipant>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          category="clojuredev.category.views"
          class="clojuredev.outline.ContentOutline"
          icon="icons/clojure16x16.png"
          id="clojuredev.view.namespacebrowser"
          name="Namespace Browser"
          restorable="false">
    </view>
    <category
          id="clojuredev.category.views"
          name="Clojuredev Views">
    </category>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaPerspective">
       <newWizardShortcut
             id="clojuredev.project.new.wizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="clojuredev.newClojureFileWizard">
       </newWizardShortcut>
       <viewShortcut
             id="clojuredev.view.namespacebrowser">
       </viewShortcut>
       <view
             id="clojuredev.view.namespacebrowser"
             minimized="false"
             relationship="stack"
             relative="org.eclipse.ui.views.ContentOutline">
       </view>
    </perspectiveExtension>
 </extension>
</plugin>
