<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="clojuredev.category.new"
            name="Clojure">
      </category>
      <wizard
            category="clojuredev.category.new"
            class="clojuredev.wizards.NewClojureProjectWizard"
            hasPages="true"
            icon="icons/clojure16x16.png"
            id="clojuredev.project.new.wizard"
            name="New Clojure Project"
            project="true">
      </wizard>
      <wizard
            category="clojuredev.category.new"
            class="clojuredev.wizards.NewClojureFileWizard"
            icon="icons/clojure16x16.png"
            id="clojuredev.newClojureFileWizard"
            name="Clojure File"
            project="false">
         <description>
            Create a Clojure file
         </description>
         <selection
               class="java.lang.Object">
         </selection>
      </wizard>
   </extension>
   <extension 
   	id="clojuredev.nature" 
   	name="Clojure Nature" 
   	point="org.eclipse.core.resources.natures"> 
      <runtime> 
         <run class="clojuredev.ClojureNature"/> 
      </runtime> 
      <builder id="clojuredev.builder"/>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature> 
   </extension> 
   <extension 
   	id="clojuredev.builder" 
   	name="Clojure Builder" 
   	point="org.eclipse.core.resources.builders"> 
      <builder
            callOnEmptyDelta="false"
            hasNature="true"> 
         <run class="clojuredev.ClojureBuilder"/>
      </builder> 
   </extension> 
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
	   	   id="clojuredev.launching.clojure"
		   name="Clojure"
		   delegate="clojuredev.launching.ClojureLaunchConfigurationDelegate"
		   modes= "run, debug">
         <fileExtension extension="clj" default="true"/>
      </launchConfigurationType>
   </extension>

   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
        type="clojuredev.launching.clojure"
        class="clojuredev.launching.ClojureTabGroup"
        id="clojuredev.launching.clojure.launchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="clojuredev.launching.ClojureLaunchShortcut"
            icon="icons/clojure16x16.png"
            id="clojuredev.launching.clojureShortcut"
            label="Clojure"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.clj">
                        </test>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="clojuredev.console.ClojureConsoleFactory"
            icon="icons/clojure16x16.png"
            label="Clojure REPL">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="clojuredev.editors.antlrbased.AntlrBasedClojureEditor"
            default="true"
            extensions="clj"
            contributorClass="clojuredev.editors.antlrbased.BasicClojureEditorActionContributor"
            icon="icons/clojure16x16.png"
            id="clojuredev.antlrbasededitor"
            name="Clojure Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="clojuredev.editors.rulesbased.ClojureDocumentProvider"
            extensions="clj"
            id="clojuredev.document.provider"
            inputTypes="org.eclipse.ui.part.FileEditorInput">
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="clojuredev.PreferenceInitializer">
      </initializer>
      <scope
            class="org.eclipse.core.runtime.preferences.DefaultScope"
            name="default">
      </scope>
   </extension>
   
<!-- =========================================================================== -->
<!-- CLOJUREDEV command definitions                                              -->
<!-- =========================================================================== -->

   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="context.editingClojureSource.name"
            description="context.editingClojureSource.description"
            parentId="org.eclipse.ui.textEditorScope"
            id="clojuredev.ui.clojureEditorScope">
      </context>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
<!-- navigate -->
      <command
            name="ActionDefinition.gotoMatchingBracket.name"
            description="ActionDefinition.gotoMatchingBracket.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="clojuredev.ui.edit.text.clojure.goto.matching.bracket">
      </command>
      <command
            name="ActionDefinition.gotoNextMember.name"
            description="ActionDefinition.gotoNextMember.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="clojuredev.ui.edit.text.clojure.goto.next.member">
      </command>
      <command
            name="ActionDefinition.gotoPreviousMember.name"
            description="ActionDefinition.gotoPreviousMember.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="clojuredev.ui.edit.text.clojure.goto.previous.member">
      </command>
      <command
            name="ActionDefinition.clojureShortcut.run.name"
            description="ActionDefinition.clojureShortcut.run.description"
            categoryId="org.eclipse.debug.ui.category.run"
            id="clojuredev.debug.ui.clojureShortcut.run">
      </command>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
<!-- navigate -->  
      <key
            sequence="M1+M2+P"
            contextId="clojuredev.ui.clojureEditorScope"
            commandId="clojuredev.ui.edit.text.clojure.goto.matching.bracket"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
<!--            sequence="M1+M2+ARROW_UP" -->
      <key
            sequence="M1+M2+E"
            contextId="clojuredev.ui.clojureEditorScope"
            commandId="clojuredev.ui.edit.text.clojure.goto.previous.member"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
<!--            sequence="M1+M2+ARROW_DOWN" -->
      <key
            sequence="M1+M2+A"
            contextId="clojuredev.ui.clojureEditorScope"
            commandId="clojuredev.ui.edit.text.clojure.goto.next.member"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
      <key
            sequence="M2+M3+X C"
            commandId="clojuredev.debug.ui.clojureShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
	</extension>
</plugin>
