<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
         <category
			name="TODO Category"
			parentCategory="org.eclipse.ui.Examples"
			id="ccw.ui.examples">
		</category>
		<wizard
        category="org.eclipse.ui.Examples/ccw.ui.examples"
        class="ccw.support.labrepl.wizards.LabreplCreationWizard"
        hasPages="true"
        id="ccw.support.labrepl.wizards.LabreplCreationWizard"
        name="Labrepl Example"
        project="true">
			<description>Create a Labrepl example project</description>
		</wizard>
   </extension>
</plugin>
