<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
   <classpathContainerInitializer
       id="ccw.LEININGEN_CONTAINER">
        <class class="ccw.util.GenericExecutableExtension">
           <parameter
                 name="factory"
                 value="ccw.leiningen.classpath-container/initializer-factory">
           </parameter>
        </class>
   </classpathContainerInitializer>
   </extension>
<!--
	<extension 
    point="org.eclipse.jdt.ui.classpathContainerPage">
   <classpathContainerPage
       id="ccw.LEININGEN_CONTAINER"
       name="%ContainerName"
       class="ccw.leiningen.LeiningenClasspathContainerPage"/>
</extension>
   -->
   
</plugin>
