
a#ccw-new-project-link img { background-image : url(images/clojure-logo-48x48.png); }
a#ccw-doc-link img { background-image : url(images/ccw-48x48.png); }
a#ccw-clojure-doc-link img { background-image : url(images/clojure-logo-48x48.png); }
