<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ccw.category.new"
            name="Clojure">
      </category>
      <wizard
            category="ccw.category.new"
            class="ccw.wizards.NewClojureProjectWizard"
            hasPages="true"
            icon="icons/clojure16x16.png"
            id="ccw.project.new.wizard"
            name="Clojure Project"
            project="true">
      </wizard>
      <wizard
            category="ccw.category.new"
            class="ccw.wizards.NewClojureFileWizard"
            icon="icons/clojure16x16.png"
            id="ccw.newClojureFileWizard"
            name="Clojure File"
            project="false">
         <description>
            Create a Clojure file
         </description>
         <selection
               class="java.lang.Object">
         </selection>
      </wizard>
   </extension>
   <extension 
   	id="ccw.nature" 
   	name="Clojure Nature" 
   	point="org.eclipse.core.resources.natures"> 
      <runtime> 
         <run class="ccw.ClojureProjectNature"/> 
      </runtime> 
      <builder id="ccw.builder"/>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature> 
   </extension> 
   <extension 
   	id="ccw.builder" 
   	name="Clojure Builder" 
   	point="org.eclipse.core.resources.builders"> 
      <builder
            callOnEmptyDelta="false"
            hasNature="true"> 
         <run class="ccw.builder.ClojureBuilder"/>
      </builder> 
   </extension> 
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="ccw.launching.ClojureLaunchDelegate"
            delegateName="Clojure Launcher"
            id="ccw.launching.clojure"
            modes="run, debug"
            name="Clojure"
            public="true"
            sourceLocatorId="ccw.sourceLocator"
            sourcePathComputerId="ccw.sourcePathComputer">
         <fileExtension extension="clj" default="true"/>
      </launchConfigurationType>
   </extension>

   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
        type="ccw.launching.clojure"
        class="ccw.launching.ClojureTabGroup"
        id="ccw.launching.clojure.launchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="ccw.launching.ClojureLaunchShortcut"
            icon="icons/clojure16x16.png"
            id="ccw.launching.clojureShortcut"
            label="Clojure REPL"
            modes="run, debug">
         <perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
         <perspective id="org.eclipse.jdt.ui.JavaHierarchyPerspective"/>
         <perspective id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
         <perspective id="org.eclipse.debug.ui.DebugPerspective"/>
         <perspective
               id="org.eclipse.pde.ui.PDEPerspective">
         </perspective>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.clj">
                        </test>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 forcePluginActivation="true"
                                 property="ccw.propertyTester.hasClojureNature">
                           </test>
                        </adapt>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ccw.editors.antlrbased.AntlrBasedClojureEditor"
            default="true"
            extensions="clj"
            contributorClass="ccw.editors.antlrbased.BasicClojureEditorActionContributor"
            icon="icons/clojure16x16.png"
            id="ccw.antlrbasededitor"
            name="Clojure Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ccw.preferences.PreferenceInitializer">
      </initializer>
      <scope
            class="org.eclipse.core.runtime.preferences.DefaultScope"
            name="default">
      </scope>
   </extension>
   
<!-- =========================================================================== -->
<!-- CCW command definitions                                              -->
<!-- =========================================================================== -->

   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%context.editingClojureSource.name"
            description="%context.editingClojureSource.description"
            parentId="org.eclipse.ui.textEditorScope"
            id="ccw.ui.clojureEditorScope">
      </context>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="%command.gotoMatchingBracket.description"
            id="ccw.ui.edit.text.clojure.goto.matching.bracket"
            name="%command.gotoMatchingBracket.name">
      </command>
<!-- navigate -->
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="%command.gotoPreviousMember.description"
            id="ccw.ui.edit.text.clojure.goto.previous.member"
            name="%command.gotoPreviousMember.name">
      </command>
      <command
            name="Go to matching bracket"
            description="%command.gotoNextMember.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="ccw.ui.edit.text.clojure.goto.next.member">
      </command>
      <command
            name="%command.selectToplevelSExpression.name"
            description="%command.selectToplevelSExpression.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="ccw.ui.edit.text.clojure.select.toplevel.s.expression">
      </command>
      <command
            name="%command.evaluateToplevelSExpression.name"
            description="%command.evaluateToplevelSExpression.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="ccw.ui.edit.text.clojure.evaluate.toplevel.s.expression">
      </command>
      <command
            name="%command.loadFile.name"
            description="%command.loadFile.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="ccw.ui.edit.text.clojure.load.file">
      </command>
      <command
            name="%command.compileLib.name"
            description="%command.compileLib.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="ccw.ui.edit.text.clojure.compile.lib">
      </command>

      <command
            name="%command.formatCode.name"
            description="%command.formatCode.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="ccw.ui.edit.text.clojure.format.code">
      </command>

	  
      <command
            name="%command.clojureShortcut.run.name"
            description="%command.clojureShortcut.run.description"
            categoryId="org.eclipse.debug.ui.category.run"
            id="ccw.debug.ui.clojureShortcut.run">
      </command>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
<!-- navigate -->  
      <key
            sequence="M1+M2+P"
            contextId="ccw.ui.clojureEditorScope"
            commandId="ccw.ui.edit.text.clojure.goto.matching.bracket"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M3+P"
            contextId="ccw.ui.clojureEditorScope"
            commandId="ccw.ui.edit.text.clojure.goto.matching.bracket"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
<!--            sequence="M1+M2+ARROW_UP" -->
      <key
            sequence="M1+M3+A"
            contextId="ccw.ui.clojureEditorScope"
            commandId="ccw.ui.edit.text.clojure.goto.previous.member"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M2+A"
            contextId="ccw.ui.clojureEditorScope"
            commandId="ccw.ui.edit.text.clojure.goto.previous.member"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
<!--            sequence="M1+M2+ARROW_DOWN" -->
      <key
            sequence="M1+M3+E"
            contextId="ccw.ui.clojureEditorScope"
            commandId="ccw.ui.edit.text.clojure.goto.next.member"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M2+E"
            contextId="ccw.ui.clojureEditorScope"
            commandId="ccw.ui.edit.text.clojure.goto.next.member"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M3+H"
            contextId="ccw.ui.clojureEditorScope"
            commandId="ccw.ui.edit.text.clojure.select.toplevel.s.expression"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M3+T"
            contextId="ccw.ui.clojureEditorScope"
            commandId="ccw.ui.edit.text.clojure.select.toplevel.s.expression"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"/>
      <key
            sequence="M1+M3+X"
            contextId="ccw.ui.clojureEditorScope"
            commandId="ccw.ui.edit.text.clojure.evaluate.toplevel.s.expression"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M2+X"
            contextId="ccw.ui.clojureEditorScope"
            commandId="ccw.ui.edit.text.clojure.evaluate.toplevel.s.expression"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"/>
      <key
            sequence="M2+M3+X C"
            commandId="ccw.debug.ui.clojureShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M3+X C"
            commandId="ccw.debug.ui.clojureShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"/>
      <key
            sequence="M1+M3+L"
            contextId="ccw.ui.clojureEditorScope"
            commandId="ccw.ui.edit.text.clojure.load.file"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M3+K"
            contextId="ccw.ui.clojureEditorScope"
            commandId="ccw.ui.edit.text.clojure.compile.lib"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M2+F"
            contextId="ccw.ui.clojureEditorScope"
            commandId="ccw.ui.edit.text.clojure.format.code"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
			
			
            
	</extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="ccw.menus.clojure"
               label="Clojure"
               mnemonic="C"
               tooltip="Menu for Clojure related commands">
            <command
                  commandId="ccw.ui.edit.text.clojure.goto.matching.bracket"
                  label="Go to matching bracket"
                  style="push">
            </command>
            <separator
                  name="ccw.menus.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="ccw.ui.edit.text.clojure.goto.previous.member"
                  label="Go to the previous top level s-expression"
                  style="push">
            </command>
            <command
                  commandId="ccw.ui.edit.text.clojure.goto.next.member"
                  label="Go to the next top level s-expression"
                  style="push">
            </command>
            <command
                  commandId="ccw.ui.edit.text.clojure.select.toplevel.s.expression"
                  label="Select top level s-expression"
                  style="push">
            </command>
            <command
                  commandId="ccw.ui.edit.text.clojure.evaluate.toplevel.s.expression"
                  label="Evaluate Top Level s-expression"
                  style="push">
            </command>
            <separator
                  name="ccw.menus.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="ccw.ui.edit.text.clojure.load.file"
                  label="Load clojure file in REPL"
                  style="push">
            </command>
            <command
                  commandId="ccw.ui.edit.text.clojure.compile.lib"
                  label="Compile clojure file in REPL"
                  style="push">
            </command>
            <command
                  commandId="ccw.ui.edit.text.clojure.format.code"
                  label="Format clojure code"
                  style="push">
            </command>
			
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="ccw.antlrbasededitor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/clojure16x16.png"
               id="ccw.menus.clojure"
               label="Clojure"
               mnemonic="C"
               tooltip="Menu for Clojure related commands">
            <command
                  commandId="ccw.ui.edit.text.clojure.goto.matching.bracket"
                  label="Go to matching bracket"
                  style="push">
            </command>
            <separator
                  name="ccw.menus.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="ccw.ui.edit.text.clojure.goto.previous.member"
                  label="Go to previous top level s-expression"
                  style="push">
            </command>
            <command
                  commandId="ccw.ui.edit.text.clojure.goto.next.member"
                  label="Go to next top level s-expression"
                  style="push">
            </command>
            <command
                  commandId="ccw.ui.edit.text.clojure.select.toplevel.s.expression"
                  label="Select top level s-expression"
                  style="push">
            </command>
            <separator
                  name="ccw.menus.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="ccw.ui.edit.text.clojure.evaluate.toplevel.s.expression"
                  label="Evaluate Top Level s-expression"
                  style="push">
            </command>
            <command
                  commandId="ccw.ui.edit.text.clojure.load.file"
                  label="Load clojure file in REPL"
                  style="push">
            </command>
            <command
                  commandId="ccw.ui.edit.text.clojure.compile.lib"
                  label="Compile clojure file in REPL"
                  style="push">
            </command>
            <command
                  commandId="ccw.ui.edit.text.clojure.format.code"
                  label="Format clojure code"
                  style="push">
            </command>

            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="ccw.antlrbasededitor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="ccw.objectContribution.clojure.nature"
            objectClass="org.eclipse.core.resources.IContainer">
         <action
               class="ccw.actions.ToggleNatureAction"
               enablesFor="+"
               icon="icons/clojure16x16.png"
               id="ccw.action.toggleClojureNature"
               label="Enable/disable clojure language support"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="ccw.launching.clojure"
          icon="icons/clojure16x16.png"
          id="ccw.launchConfigurationTypeImage">
    </launchConfigurationTypeImage>
	</extension>
 <extension
       point="org.eclipse.ui.console.consolePageParticipants">
    <consolePageParticipant
          class="ccw.console.ConsolePageParticipant"
          id="ccw.consolePageParticipant.replConsole">
       <enablement>
          <instanceof
                value="org.eclipse.debug.internal.ui.views.console.ProcessConsole">
          </instanceof>
       </enablement>
    </consolePageParticipant>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          category="ccw.category.views"
          class="ccw.outline.NamespaceBrowser"
          icon="icons/clojure16x16.png"
          id="ccw.view.namespacebrowser"
          name="Namespace Browser"
          restorable="true">
    </view>
    <category
          id="ccw.category.views"
          name="Clojure Views">
    </category>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaPerspective">
       <newWizardShortcut
             id="ccw.project.new.wizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="ccw.newClojureFileWizard">
       </newWizardShortcut>
       <viewShortcut
             id="ccw.view.namespacebrowser">
       </viewShortcut>
       <view
             id="ccw.view.namespacebrowser"
             minimized="false"
             relationship="stack"
             relative="org.eclipse.ui.views.ContentOutline">
       </view>
    </perspectiveExtension>
    <perspectiveExtension
          targetID="org.eclipse.pde.ui.PDEPerspective">
       <newWizardShortcut
             id="ccw.project.new.wizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="ccw.newClojureFileWizard">
       </newWizardShortcut>
       <viewShortcut
             id="ccw.view.namespacebrowser">
       </viewShortcut>
       <view
             id="ccw.view.namespacebrowser"
             minimized="false"
             relationship="stack"
             relative="org.eclipse.ui.views.ContentOutline">
       </view>
    </perspectiveExtension>
 </extension>
 <extension
       id="ccw.markers.problemmarkers.compilation"
       name="Clojure Compilation Problem"
       point="org.eclipse.core.resources.markers">
    <persistent
          value="true">
    </persistent>
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
 </extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="ccw.ClojureNaturePropertyTest"
          id="ccw.propertyTester.hasClojureNature"
          namespace="ccw.propertyTester"
          properties="hasClojureNature"
          type="org.eclipse.core.resources.IProject">
    </propertyTester>
 </extension>
 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="org.eclipse.core.resources.IProject"
          class="ccw.ProjectLaunchableAdapter">
       <adapter
             type="org.eclipse.debug.ui.actions.ILaunchable">
       </adapter>
    </factory>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          name="%preferencePage.clojure.name"
          class="ccw.preferences.EmptyPreferencePage"
          id="ccw.preferences.EmptyPreferencePage">
    </page>
    <page
          name="%preferencePage.editor.name"
          category="ccw.preferences.EmptyPreferencePage"
          class="ccw.preferences.EditorPreferencePage"
          id="ccw.preferences.EditorPreferencePage">
    </page>
    <page
          name="%preferencePage.syntaxColoring.name"
          category="ccw.preferences.EmptyPreferencePage"
          class="ccw.preferences.SyntaxColoringPreferencePage"
          id="ccw.preferences.SyntaxColoringPreferencePage">
    </page>
 </extension>
 <extension
       point="org.eclipse.debug.core.sourcePathComputers">
    <sourcePathComputer
          class="ccw.launching.SourcePathComputerDelegate"
          id="ccw.sourcePathComputer">
    </sourcePathComputer>
 </extension>
 <extension
       point="org.eclipse.debug.core.sourceLocators">
    <sourceLocator
          class="ccw.launching.ClojureSourceLookupDirector"
          id="ccw.sourceLocator"
          name="Clojure code source lookup director">
    </sourceLocator>
 </extension>
</plugin>
